table,tr,th,td{
    /* border-width:1px;
      border-style:solid;
      border-style:overscroll-behavior-block: */
    border:1px solid black;
     border-collapse: collapse;
     padding: 3px;
     text-align: center;
   

    }
    #ave{
        text-align: center;
      }