h1{
    border:1px solid black;
    width:200px;
    margin: 50px auto;
    border-width: 2px 6px 10px 15px; 
    /*border-width: 2px  10px 15px; */
    /*border-width: 2px 15px;*/ 
    /*margin:10px 20px 30px 20px; */
    padding: 2px 35px;
    box-sizing: border-box;
    
}
p{
    border:1px solid black;
    width: 500px;
    margin: auto;
    padding: 20px;
    height: 200px;
    overflow: scroll;
    box-shadow: -6px -6px 10px red,
       5px 5px 10px rgb(0, 119, 255);
    
}
body{
    border:1px solid rgb(0, 255, 64);
    height: 100vh;

}