h1{
    color:red;
    font-size: 32px;
    text-align: center;
}
#abc{
    color:green;
    font-size: 32px;
    text-align: center;
}
.text{
    background-color:cadetblue;
}
*{
    font-family: sans-serif;
}
p{
    text-indent: 50px;
    text-transform: capitalize;
}
p::first-letter{
    font-size: 32px;
}