table,tr,th,td{
    /* border-width:1px;
      border-style:solid;
      border-style:overscroll-behavior-block: */
    border:1px solid black;
     border-collapse: collapse;
    text-align: center;
    padding: 5px;

    }
